export SC_MQTT_HOST=192.168.0.102
export SC_MQTT_PORT=1883
export SC_MQTT_USERNAME=smartclass
export SC_MQTT_PASSWORD=jone
export SC_MQTT_TEMP_TOPIC=temp_topic
export SC_MQTT_LIGHT_TOPIC=light_topic
export SC_MQTT_SMOKE_TOPIC=smoke_topic
export SC_DB_NAME=master
export SC_DB_USER=root
export SC_DB_HOST=localhost
export SC_DB_PASSWORD=teknologisatujaman
export SC_TIMEZONE=Asia/Jayapura
export SC_LOWEST_LIGHT_VALUE=20
export SC_HIGHEST_LIGHT_VALUE=80